html,
body {
  margin: 0;
  padding: 0;
}

h2,
h3,
h4,
h5,
h6,
html {
  font-family: "Open Sans", sans-serif;
  color: #2a211f;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
}

/* body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */

header {
  /* border: black solid; */
  /* margin-bottom: 1rem; */
  padding: 0.5rem;
  height: 100vh;
  background-image: linear-gradient(0deg, #ffa5b0, #f68121);
  display: flex;
  flex-direction: column;
}
header > h1 {
  border: black solid;
  color: rgb(255, 255, 255);
}

#profile {
  border: black solid;
}

/* Circular cropped avatar */
.circular--portrait {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.circular--portrait img {
  width: 100%;
  height: auto;
}

/* Interesting things I do */
#work {
  padding: 1rem;
  /* background-color: #fcbb30; */
  display: flex;
  flex-direction: column;
}

#work h2 {
  color: #c7c3bd;
  text-align: center;
}

#work p {
  color: #c7c3bd;
  text-align: justify;
  border: black solid;
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.post {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  width: 250px;
  border: black solid;
  padding: 0.5%;
  align-items: center;
}

.project img {
  width: 250px;
  height: 250px;
}

/* Love */
#love {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  background-image: linear-gradient(180deg, #ffa5b0, #f68121);
}

.groupIcon {
  display: flex;
  justify-content: space-evenly;
  /* padding-block-end: 4rem; */
  align-items: center;
  /* border: solid pink; */
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.loveIcon {
  width: 100px;
  height: 100px;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
}

.attribution {
  font-size: 9px;
  text-align: center;
  margin-bottom: 0.5rem;
  color: #c7c3bd;
}

footer h3 {
  font-size: 10px;
  text-align: center;
  margin-top: 0.5rem;
  color: #c7c3bd;
}
